#I1 {
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    width: 100px;
}

body {
    padding-top: 800px;
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    margin: 0px;
}

H1 {
    font-family: sans-serif;
    color: green;
    font-weight: 300;
}

#P1 {
    font-size: 24px;
    font-variant: small-caps;
    color: white;
    line-height: 1.3;
    max-width: 450px;
    margin: 25px auto;
}

#S1 {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
}

#welcome {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#bio {
    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: aqua;
    width: 60px;
    margin: 10px auto;
}

.profile {
    width: 170px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10px;
    cursor: pointer;

}

.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 24px;

}

.links:hover {
    background-color: white;
}
